/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background-size: 130%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
        background-size: 210%;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    body {
        background-size: 350%;
    }
}