/* Landscape phones and portrait tablets */
@media (max-width: 760px) {

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        border:none;
        text-align: center;
    }

    .contact-form {
        width: auto;
        margin: 0;
        padding: 20px;
    }

    .contact-form > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .popup .popup-form {
        width: 80vw;
    }
}