.personal-data {
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 20px;
    color: #494949;
    background: none;
    border-bottom: 2px solid #494949;
}

.checkbox {
    display: flex;
}

textarea {
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 20px;
    color: #494949;
    background: none;
    border: none;
    border: 2px solid #494949;
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 7px;

}

textarea::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 5px;
}

button {
    width: 150px;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 20px;
    background: #CFE946;
    color: #494949;
    border: #494949 solid 2px;
    border-right: #494949 solid 4px;
    border-bottom: #494949 solid 4px;
    border-radius: 20px;
    padding: 10px 0;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    background: indianred;
}

.error {
    color: indianred;
}

