.popup{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: flex;
    justify-content: center;

}
.popup .popup-form{
    height: 50vh;
    margin-top: 20vh;
    padding:  40px;
    border: #494949 solid 2px;
    border-right: #494949 solid 4px;
    border-bottom: #494949 solid 4px;
    border-radius: 20px;
    background: #FCDABD;
}

.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.popup-form h1 {
    margin-bottom: -10px;
}

#hide {
    text-align: end;
}